<p style="text-align:center; margin: 0;">
  <a href="{{ '/' | relative_url }}">Home</a> &nbsp;|&nbsp;
  <a href="{{ '/preorders/' | relative_url }}">PreOrders</a> &nbsp;|&nbsp;
  <a href="{{ '/catering-request/' | relative_url }}">Catering Request</a> &nbsp;|&nbsp;
  <a href="{{ '/about-vineetha/' | relative_url }}">About Vineetha</a> &nbsp;|&nbsp;
  <a href="{{ '/recipes/' | relative_url }}">Recipes</a> &nbsp;|&nbsp;
  <a href="{{ '/contact/' | relative_url }}">Contact Us</a>
</p>
<hr style="margin: 0.75rem 0;">